<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

{% include nav.html %}

<a id="content"></a>

<section id="intro">
	<h2>Intro</h2>
	<p>Tim Bowman is a compositor, trouble-shooter, and image-maker. He brings his calm competence to work on feature films, television, and your next production.</p>
</section>

<main>
<section id="projects">
	<h2>Projects</h2>

	{% assign projects = site.projects | sort:"priority" %}
	{% for project in projects %}
		<section class="FOO BAR">
			<a href={{ project.url }}>
			{% for image in project.gallery-images %}
				{% assign src = site.url | append: image.src %}
			    <img src={{ src }} width={{ image.width }} height={{ image.height }} alt={{image.alt }}>
			{% endfor %}
			<h2>{{ project.title }}</h2>
			</a>
		</section>
	{% endfor %}

<!-- 	<section class="reel film">
		<a href="./projects/film-compositing/">
    	<img src="./projects/film-compositing/img/theRoad-gasStationStill-gallery.jpg" width="448" height="189" alt="">
		<h2>Demo Reel: Film Compositing</h2>
		</a>
	</section>

	<section class="reel mograph">
	 	<a href="./projects/design-and-animation/">
	    <img src="./projects/design-and-animation/img/reel-designAnimation-still-gallery.jpg" width="448" height="252" alt="">
		<h2>Demo Reel: Design &amp; Animation</h2>
		</a>
	</section>

	<section class="film">
		<a href="./projects/wolverine-alaska/">
		<img src="./projects/wolverine-alaska/img/wolverine-alaskadmp-after-gallery.jpg" width="448" height="190" alt="">
		<img src="./projects/wolverine-alaska/img/wolverine-alaskadmp-before-gallery.jpg" width="448" height="190" alt="">
		<h2>The Wolverine: Alaska DMP</h2>
		</a>
	</section>

	<section class="mograph">
		<a href="./projects/pa-film/">
		<img src="./projects/pa-film/img/paFilm-gallery.jpg" width="448" height="252" alt="">
		<h2>PA Film</h2>
		</a>
	</section>

	<section class="misc film">
		<a href="./projects/automatic-write-node/">
		<img src="./projects/automatic-write-node/img/autowrite-gallery.jpg" width="448" height="200" alt="">
		<h2>Tutorial: Automatic Write Node</h2>
		</a>
	</section>

	<section class="film">
		<a href="./projects/hunger-games-line-odds/">
		<img src="./projects/hunger-games-line-odds/img/hungerGames-lineOdds-wide-gallery.jpg" width="448" height="191" alt="">
		<img src="./projects/hunger-games-line-odds/img/hungerGames-lineOdds-med-gallery.jpg" width="448" height="191" alt="">
		<img src="./projects/hunger-games-line-odds/img/hungerGames-lineOdds-cu-gallery.jpg" width="448" height="191" alt="">
		<h2>Hunger Games: Morning Line Odds Board</h2>
		</a>
	</section>

	<section class="mograph">
		<a href="./projects/siemens-somatom/">
		<img src="./projects/siemens-somatom/img/siemens-somatom-gallery.jpg" width="448" height="252" alt="">
		<h2>Siemens: SOMATOM Definition Era</h2>
		</a>
	</section>	

	<section class="misc film">
		<a href="./projects/cinefex-the-road/">
		<img src="./projects/cinefex-the-road/img/cinefex-theRoad-gallery.jpg" width="448" height="199" alt="">
		<h2>Cinefex Article: The Road</h2>
		</a>
	</section>

	<section class="mograph">
		<a href="./projects/cannondale-supersix/">
		<img src="./projects/cannondale-supersix/img/cannondale-endTagAnim-gallery.gif" width="448" height="252" alt="">
		<h2>Cannondale: SuperSix</h2>
		</a>
	</section>	
 -->
</section>

<section id="about">
	<h2>About</h2>
	<img src="./gfx/tim1.jpg" width="448" height="336" alt="">
	<p>Tim loves images. He has worked on them around the world, for feature films and television shows such as The Great Gatsby, True Detective, The Wolverine, Gravity, The Fault in Our Stars, and Boardwalk Empire.</p> 
	<p>His specialty is making highly complex tasks manageable in order to meet both deadlines and expectations.</p>
	<h3>Software</h3>
	<p class="toolbox">Nuke, Photoshop, Illustrator, After Effects, Shotgun, Mocha, Qube!, SynthEyes, Shake, Flame, Maya, Lightwave, Modo, Silo, Rush</p>
	<h3>Programming Languages</h3>
	<p class="toolbox">Python, TCL, Processing/Arduino, JavaScript, HTML, CSS</p>
	<h3>Platforms</h3>
	<p class="toolbox">Mac OS, Linux, Windows</p>
</section>

<!-- <section id="misc">
	<h2>Miscellania</h2>
</section>
 -->
</main>


{% include social-media.html %}

{% include footer.html %}


<div class="textOnly"><a href="#" title="Go back to the top">You have reached the bottom of the page, click here to go back to the top</a></div>

{% include analytics.html %}

</body>
</html>